.error-container {
  border: 2px solid #e74c3c;
  background-color: #f9ebec;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}

.error-message {
  color: #e74c3c;
  font-weight: bold;
  margin: 0;
}
